build/*
.DS_Store
##############################
## Visual Studio Code
##############################
.vscode/
*.code-workspace

##############################
## <oXygen/>
##############################
*.xpr
